In [1]:
import pandas as pd
import dtale
import FundamentalAnalysis as fa
import yfinance as yf
import finviz
from datetime import date
from datetime import datetime
from dateutil import relativedelta

In [2]:
def insider_date(symbol):
    for i in finviz.get_insider(symbol):
        tradedate = [i['Date'] + ' 2021']
        insiderdf = pd.DataFrame.from_dict(i)
        tradedate = pd.to_datetime(tradedate, format = '%b %d %Y')
    return tradedate[0]

In [3]:
def get_finviz(symbol, date):
    #Get insider trading information and fix the date
    #format in the finviz api so that the amount of time that has passed since purchase can be determined
    
    finStock = finviz.get_insider(symbol)
    finStock = pd.DataFrame.from_dict(finStock)
    dtFinStock = pd.to_datetime(finStock['Date'], format = '%b %d')
    finStock['Date'] = dtFinStock
    today = pd.to_datetime(date.today())
    thisYear = finStock['Date'].loc[finStock['Date'].dt.strftime('%m-%d') <= today.strftime('%m-%d')]
    updatedDates = [None for x in range(finStock['Date'].size)]
    count = 0
    for date in thisYear:
        thisYear = date.replace(2021)
        updatedDates[count] = thisYear
        count = count + 1


    lastYear = finStock['Date'].loc[finStock['Date'].dt.strftime('%m-%d') > today.strftime('%m-%d')]
    for date in lastYear:
        lastYear = date.replace(2020)
        updatedDates[count] = lastYear
        count = count + 1


    finStock['Date'] = updatedDates
    finStock.set_index('Date', inplace=True)
    return finStock

In [4]:
def six_month_insider(symbol):
    #Determine the total value traded by insiders in the last 6 months
    try:
        finDf = get_finviz(symbol, date)
        idxSixMonth = finDf[datetime.today() : datetime.today() - relativedelta.relativedelta(months=6)]
        sixMonthValue = idxSixMonth['Value ($)']
        sixMonthValue = pd.to_numeric(sixMonthValue.str.replace(',',''), errors='coerce')
        transaction = idxSixMonth['Transaction']
        sixMonthValue[transaction == 'Sale'] = -sixMonthValue[transaction == 'Sale'] 
        sixMonthValue[transaction == 'Option Exercise'] = -sixMonthValue[transaction == 'Option Exercise'] 
        sixMonthSum = sixMonthValue.sum(axis = 0)
    except:
        sixMonthSum = 0
    return sixMonthSum

In [5]:
def one_month_insider(symbol):
    #Determine the total value traded by insiders in the last 1 month
    try:
        finDf = get_finviz(symbol, date)
        idxOneMonth = finDf[datetime.today() : datetime.today() - relativedelta.relativedelta(months=1)]
        oneMonthValue = idxOneMonth['Value ($)']
        oneMonthValue = pd.to_numeric(oneMonthValue.str.replace(',',''), errors='coerce')
        transaction = idxOneMonth['Transaction']
        oneMonthValue[transaction == 'Sale'] = -oneMonthValue[transaction == 'Sale'] 
        oneMonthValue[transaction == 'Option Exercise'] = -oneMonthValue[transaction == 'Option Exercise'] 
        oneMonthSum = oneMonthValue.sum(axis = 0)
    except:
        oneMonthSum = 0
    return oneMonthSum

In [6]:
def one_week_insider(symbol):
    #Determine the total value traded by insiders in the last 1 week
    try:
        finDf = get_finviz(symbol, date)
        idxOneWeek = finDf[datetime.today() : datetime.today() - relativedelta.relativedelta(week=1)]
        oneWeekValue = idxOneWeek['Value ($)']
        oneWeekhValue = pd.to_numeric(oneWeekValue.str.replace(',',''), errors='coerce')
        transaction = idxOneWeek['Transaction']
        oneWeekValue[transaction == 'Sale'] = -oneWeekValue[transaction == 'Sale'] 
        oneWeekValue[transaction == 'Option Exercise'] = -oneWeekValue[transaction == 'Option Exercise'] 
        oneWeekSum = oneWeekValue.sum(axis = 0)
    except:
        oneWeekSum = 0
    return oneWeekSum

In [7]:
def make_fundamental_sheet(df):
    #Convert the fundamnetal data to numerical so color formatting can be applied
    dfDf = pd.DataFrame()
    for i in range(len(df)):
        dfNum = pd.to_numeric(df.iloc[i], errors='coerce')
        dfNum = pd.DataFrame(dfNum)
        dfNum = dfNum.T
        dfDf = pd.concat([dfDf, dfNum])
    return dfDf

In [8]:
def make_percent_change(idx,df):
    #Calculate the percent change for the fundamental dataframe
    pctChange = df.iloc[idx]
    pctChange = pctChange.pct_change(periods = -1)
    pctChange = pd.DataFrame(pctChange)*100
    pctChange = pctChange.T
    return pctChange

In [9]:
# Outstanding shares, Rev, Rev ava3, turnover, gross income/tq, cfebit adj/ tq, roic ava,
#gross margin, ebitda margin, net inc margin, cfo margin, sfcf margin, ncf margin, revs/sh,
#assets/sh, net excess cash, net com over, book/sh, tang book/sh, bm roe 3yr %, bm roe 5yr %,
# tbm ROE 3yr %, tbm roe 5yr %, div/sh, bm EPS ava, EBITDA/sh,

In [13]:
#ticker = yf.Tickers('tsm nvda asml intc avgo qcom amd lrcx mu toelf adi nxpi mrvl klac snps xlnx swks umc qrvo asx on entg powi amba xper himx acls cohu veco sgh ceva plab aosl axti pxlw aehr quik')
#ticker = yf.Tickers('splk ddog okta u panw intu coin pltr msft')
#ticker = yf.Tickers('dkng penn mgm lvs sgms evri gan baly byd')

stonk = pd.DataFrame()
for symbol in ticker.tickers:
    dateSymbol = symbol
    symbol = ticker.tickers[symbol]
    dfList = [symbol.info['shortName'],
              symbol.info['symbol'],
              symbol.info['sector'],
              symbol.info['currentPrice'],
              (symbol.info['currentPrice'] - symbol.info['open'])
              /symbol.info['open']*100,
              symbol.info['52WeekChange'],
              symbol.info['marketCap'] / 1e9,
              symbol.info['totalRevenue'] / 1e9,
              #symbol.info['shortPercentOfFloat']*100,
              symbol.info['forwardPE'],
              symbol.info['pegRatio'],
              symbol.info['revenueGrowth']*100,
              symbol.info['trailingEps'],
              symbol.info['forwardEps'],
              symbol.info['priceToSalesTrailing12Months'],
              symbol.info['enterpriseToEbitda'],
              symbol.info['totalCashPerShare'],
              one_week_insider(dateSymbol) / 1e6,
              one_month_insider(dateSymbol) / 1e6,
              six_month_insider(dateSymbol) / 1e6]
    ratiodf = pd.DataFrame(dfList)
    ratiodf = ratiodf.T
    ratiodf.columns = ['Company Name', 'Ticker', 'Sector', 'Price','Day %', '52 Week Change (%)', 'Market Cap (b)', 'Revenue (b)', #'Short %',
                           'Forward PE', 'PEG', 'Revenue Growth (%)', 'EPS (TTM)', 'EPS (NTM)', 'P/S (TTM)',
                           'EV/EBITDA', 'Cash Per Share', '1w Insider Sales (m)','1m Insider Sales (m)','6m Insider Sales (m)']
    #Combine all ticker data into one dataframe
    stonk = pd.concat([stonk, ratiodf])

#Output
stonk = stonk.set_index('Company Name')
dtale.show(stonk)

In [1]:
ticker = 'MU'
api_key = ''
income_statement_annually = fa.income_statement(ticker, api_key, period="annual")
key_metrics_annually = fa.key_metrics(ticker, api_key, period="annual")
financial_ratios_annually = fa.financial_ratios(ticker, api_key, period="annual")

NameError: name 'fa' is not defined

In [12]:
km = key_metrics_annually.loc[['cashPerShare','revenuePerShare','netIncomePerShare',
                               'roic','roe','dividendYield']]
    
ins = income_statement_annually.loc[['weightedAverageShsOut','revenue']] / 1e9
filingDate = pd.DataFrame(income_statement_annually.loc['fillingDate'])
filingDate = filingDate.T
 

fr = financial_ratios_annually.loc[['grossProfitMargin','netProfitMargin']] * 100
fr2 = financial_ratios_annually.loc[['assetTurnover','operatingCashFlowPerShare',
                                    'freeCashFlowPerShare',
                                    'priceEarningsRatio','debtRatio']]

insDf = make_fundamental_sheet(ins)
kmDf = make_fundamental_sheet(km)
frDf = make_fundamental_sheet(fr)
frDf2 = make_fundamental_sheet(fr2)

#Combine the fundamental data from the separate api sheets
model = pd.concat([insDf, kmDf, frDf, frDf2])

revPctChg = make_percent_change(1,model)
model = pd.concat([model, revPctChg])
grossMarginPctChg = make_percent_change(8,model)
model = pd.concat([model, grossMarginPctChg])
model = model.reset_index(drop = True)

#Change data order so it is more intuitive for analysis
modelSheet = model.reindex([0, 1, 15, 8, 16, 9, 13, 14, 2, 3, 4, 5, 6, 11, 12, 10, 7])
modelSheet =modelSheet.rename(index={0: 'Shares Outstanding (b)', 1: 'Revenue (b)', 15: 'Revenue Change %',8: 'Gross Profit Margin %',
                                     16: 'Gross Profit Margin Change %', 9: 'Net Profit Margin %', 
                                     13: 'PE Ratio', 14: 'Debt Ratio', 2: 'Cash/Share', 
                                     3: 'Revenue/Share', 4: 'Net Income/Share', 5: 'ROIC', 6: 'ROE', 11: 'Operating Cash Flow/Share',
                                    12: 'Free Cash Flow/Share', 10: 'Asset Turnover', 7: 'Dividend Yield'})

#Output
modelSheet.style.background_gradient(axis=1, cmap = 'YlGnBu',subset=(modelSheet.index[[1,3,7,8,13,14]], modelSheet.select_dtypes(float).columns)).format('{:.02f}', modelSheet.select_dtypes(float).columns)